.button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  left: 5.4cm; 
}

.button2{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  left: 5.4cm;
  top: 320vh;
}


.text-faded {
  color: rgba(255, 255, 255, 0.7);
}


.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
}

.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}

.portfolio-item .caption .caption-content h2 {
  font-size: 1rem;
  text-transform: uppercase;
}

.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 0.9rem;
}

@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }
  .portfolio-item .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .portfolio-item .caption .caption-content {
    transition: opacity 0.25s;
    margin-left: 2rem;
    margin-right: 5rem;
    margin-bottom: 2rem;
  }
  .portfolio-item img {
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .portfolio-item:hover .caption {
    background-color: rgba(63, 54, 54, 0.9);
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .portfolio-item:hover .caption .caption-content{
    transition: height 0.5s;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 10rem;
  }
}

/* The slogan */
.slogan .ml3 {
  text-align: center;
  color: rgb(109, 48, 12);
  font-family: "Microsoft JhengHei", "Arial Narrow", Arial, serif;
  font-weight: 900;
  font-size: 4.5em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}


/* Image on the left side */


.thumbnail {
  position: absolute;
  height: 320px;
  width: 100%;
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  z-index: 1;
}



/* The card */

.card2 {
    position: absolute;
    top:0scm;
    background-color: #FFF;
    -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    opacity: 0.7;
    z-index: 0;
}



/*object-fit: cover; */


/*object-position: center; */

img.left {
    position: relative;
    left: 50%;
    top: 50%;
    height: 100%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* Right side of the card */


.separator {
    margin-top: 10px;
    border: 1px solid #C3C3C3;
}



/* Floating action button */

.fab {
    position: absolute;
    right: 50px;
    bottom: -40px;
    box-sizing: border-box;
    padding-top: 18px;
    background-color: #ffb158;
    width: 80px;
    height: 80px;
    color: white;
    text-align: center;
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
}
.fab:hover {color:#fff;}

@media (min-width: 992px) {

  .card2 {
      position: relative;
      height: 600px;
      width: 1000px;
      margin: 200px auto;
      background-color: #FFF;
      -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  }
  .thumbnail {
      float: left;
      position: relative;
      left: 60px;
      top: -60px;
      height: 550px;
      width: 450px;
      -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
      overflow: hidden;
  }
  .right {
      margin-left: 590px;
      margin-right: 20px;
  }
}

 .image-aboutus-banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("./img/menu/main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 160px;
    padding-bottom:160px;
 }
 
  .image-aboutus-sm-banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/631008/pexels-photo-631008.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 20px;
    padding-bottom:20px;
 }
.lg-text {
    font-size:52px;
    font-weight: 600;
    text-transform: none;
    color:#fff;
}
.image-aboutus-sm-banner p {
    color:#fff;
}

